In [2]:
#Allows connection to the database server

import pyodbc

server = 'dist-6-505.uopnet.plymouth.ac.uk'
database = 'COMP2001_MHardy'
username = 'MHardy'
password = 'PlymLogin28'
driver = '{ODBC Driver 17 for SQL Server}'
conn_str = (
    f'DRIVER={driver};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
    'Encrypt=Yes;'
    'TrustServerCertificate=Yes;'
    'Connection Timeout=30;'
    'Trusted_Connection=No'
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [ ]:
#Creates the schema CW2

cursor.execute('''
CREATE SCHEMA CW2
''')

conn.commit()

In [ ]:
#Deletes the schema CW2

cursor.execute('''
DROP SCHEMA CW2
''')

conn.commit()

In [ ]:
#Creates the table CW2.[User]

cursor.execute('''
CREATE TABLE CW2.[User](
    user_id VARCHAR(6) NOT NULL,
    email_address VARCHAR(50) NOT NULL,
    password VARCHAR(20) NOT NULL,
    role VARCHAR(5) NOT NULL,
    username VARCHAR(64) NOT NULL,
    
    CHECK (user_id LIKE '[U][R][0-9][0-9][0-9][0-9]'),
    CHECK (email_address LIKE '%__@__%.__%'),
    CHECK (role = 'user' OR role = 'owner'),

    CONSTRAINT PK_user_id PRIMARY KEY (user_id)
    )
''')

conn.commit()

In [ ]:
#Deletes the table CW2.[User]

conn.execute(''' 
DROP TABLE CW2.[User]          
''')

conn.commit()

In [95]:
#Creates the table CW2.Trail

conn.execute('''
CREATE TABLE CW2.Trail(
    trail_id VARCHAR(6) NOT NULL,
    trail_name VARCHAR(128) NOT NULL,
    trail_summary VARCHAR(255) NOT NULL,
    trail_description VARCHAR(255) NOT NULL,
    difficulty VARCHAR(8) NOT NULL,
    location VARCHAR(128) NOT NULL,
    length FLOAT NOT NULL,
    elevation_gain INT NOT NULL,
    route_type VARCHAR(14) NOT NULL,
    owner_id VARCHAR(6) NOT NULL,
    pt1_lat FLOAT NOT NULL,
    pt1_long FLOAT NOT NULL,
    pt1_desc VARCHAR(255),
    pt2_lat FLOAT NOT NULL,
    pt2_long FLOAT NOT NULL,
    pt2_desc VARCHAR(255),
    pt3_lat FLOAT NOT NULL,
    pt3_long FLOAT NOT NULL,
    pt3_desc VARCHAR(255),
    pt4_lat FLOAT NOT NULL,
    pt4_long FLOAT NOT NULL,
    pt4_desc VARCHAR(255),
    pt5_lat FLOAT NOT NULL,
    pt5_long FLOAT NOT NULL,
    pt5_desc VARCHAR(255),

    CHECK (trail_id LIKE '[T][R][0-9][0-9][0-9][0-9]'),
    CHECK (difficulty = 'Easy' OR difficulty = 'Moderate' OR difficulty = 'Hard'),
    CHECK (length > 0.0 AND length <= 999.9),
    CHECK (elevation_gain >= 0 AND elevation_gain <= 99999),
    CHECK (route_type = 'Loop' OR route_type = 'Out and Back' OR route_type = 'Point to Point'),
    CHECK (pt1_lat BETWEEN -90.0 AND 90.0),
    CHECK (pt2_lat BETWEEN -90.0 AND 90.0),
    CHECK (pt3_lat BETWEEN -90.0 AND 90.0),
    CHECK (pt4_lat BETWEEN -90.0 AND 90.0),
    CHECK (pt5_lat BETWEEN -90.0 AND 90.0),
    CHECK (pt1_long BETWEEN -180.0 AND 180.0),
    CHECK (pt2_long BETWEEN -180.0 AND 180.0),
    CHECK (pt3_long BETWEEN -180.0 AND 180.0),
    CHECK (pt4_long BETWEEN -180.0 AND 180.0),
    CHECK (pt5_long BETWEEN -180.0 AND 180.0),

    CONSTRAINT PK_trail_id PRIMARY KEY (trail_id),
    CONSTRAINT FK_owner_id FOREIGN KEY (owner_id) REFERENCES CW2.[User](user_id)
    )                  
''')

conn.commit()

In [92]:
#Deletes the table CW2.Trail

conn.execute('''
DROP TABLE CW2.Trail
''')

conn.commit()

In [98]:
#Creates the table CW2.Trail_Feature

conn.execute('''
CREATE TABLE CW2.Trail_Feature(
    trail_id VARCHAR(6) NOT NULL,
    trail_feature_id VARCHAR(6) NOT NULL,
             
    PRIMARY KEY(trail_id, trail_feature_id),
            
    CONSTRAINT FK_trail_id FOREIGN KEY (trail_id) REFERENCES CW2.Trail (trail_id),
    CONSTRAINT FK_trail_feature_id FOREIGN KEY (trail_feature_id) REFERENCES CW2.Feature (trail_feature_id)
    )
''')

conn.commit()

In [90]:
#Deletes the table CW2.Trail_Feature

conn.execute('''
DROP TABLE CW2.Trail_Feature
''')

conn.commit()

In [97]:
#Creates the table CW2.Feature

conn.execute('''
CREATE TABLE CW2.Feature(
    trail_feature_id VARCHAR(6) NOT NULL,
    trail_feature VARCHAR(255),

    CHECK (trail_feature_id LIKE '[T][F][0-9][0-9][0-9][0-9]'),
             
    CONSTRAINT PK_trail_feature_id PRIMARY KEY (trail_feature_id)
    )
''')

conn.commit()

In [91]:
#Deletes the table CW2.Feature

conn.execute('''
DROP TABLE CW2.Feature
''')

conn.commit()

In [ ]:
#Inserts data into the table CW2.[User]

conn.execute('''
INSERT INTO CW2.[User](user_id, email_address, password, role, username)
    VALUES
        ('UR0001', 'grace@plymouth.ac.uk', 'ISAD123!', 'user', 'Grace Hopper'),
        ('UR0002', 'tim@plymouth.ac.uk', 'COMP2001!', 'user', 'Tim Berners-Lee'),
        ('UR0003', 'ada@plymouth.ac.uk', 'insecurePassword', 'user', 'Ada Lovelace');
''')

conn.commit()

In [ ]:
#Inserts data into the table CW2.Trail

conn.execute('''
INSERT INTO CW2.Trail(trail_id, trail_name, trail_summary, trail_description, difficulty, location, length, elevation_gain, route_type, owner_id, pt1_lat, pt1_long, pt1_desc, pt2_lat, pt2_long, pt2_desc, pt3_lat, pt3_long, pt3_desc, pt4_lat, pt4_long, pt4_desc, pt5_lat, pt5_long, pt5_desc)
    VALUES
        ('TR0001', 'Sunny Ridge Trail', 'A beautiful sunny trail.', 'This trail offers stunning views of the surrounding mountains.', 'Easy', 'California, USA', 5.2, 150, 'Loop', 'UR0001', 34.05, -118.25, 'Start at the city park.', 34.07, -118.26, 'Pass through the forest.', 34.09, -118.27, 'Climb to the viewpoint.', 34.10, -118.25, 'Head back through the valley.', 34.05, -118.25, 'Return to the park.'),
        ('TR0002', 'Rocky Pass', 'A challenging rocky trail.', 'Navigate steep rocks and narrow paths.', 'Hard', 'Colorado, USA', 8.5, 800, 'Out and Back', 'UR0001', 39.55, -105.78, 'Trailhead parking.', 39.57, -105.77, 'First ascent.', 39.58, -105.75, 'Viewpoint at the summit.', 39.57, -105.77, 'Descend back.', 39.55, -105.78, 'Return to parking.'),
        ('TR0003', 'Green Valley Path', 'A moderate trail through meadows.', 'Explore rolling meadows and quiet creeks.', 'Moderate', 'Oregon, USA', 12.3, 250, 'Point to Point', 'UR0003', 44.15, -121.25, 'Trailhead by the parking area.', 44.18, -121.20, 'Walk through meadows.', 44.20, -121.15, 'Cross the creek.', 44.22, -121.12, 'End at the picnic area.', 44.22, -121.12, 'N/A'),
        ('TR0004', 'Riverbank Walk', 'A scenic walk along the river.', 'Follow the gentle curves of the riverbank.', 'Easy', 'Washington, USA', 3.7, 50, 'Loop', 'UR0003', 47.60, -122.33, 'Begin at the dock.', 47.62, -122.35, 'Pass the boat house.', 47.64, -122.33, 'Walk along the river bend.', 47.62, -122.31, 'Return through the forest.', 47.60, -122.33, 'Finish at the dock.');
''')

conn.commit()

In [ ]:
#Inserts data into the table CW2.Feature

conn.execute('''
INSERT INTO CW2.Feature(trail_feature_id, trail_feature)
    VALUES
        ('TF0001', 'Dogs Allowed'),
        ('TF0002', 'Child Friendly'),
        ('TF0003', 'Hiking'),
        ('TF0004', 'Cave'),
        ('TF0005', 'Forest');
''')

conn.commit()

In [117]:
#Inserts data into the table CW2.Trail_Feature

conn.execute('''
INSERT INTO CW2.Trail_Feature(trail_id, trail_feature_id)
    VALUES
        ('TR0001', 'TF0001'),
        ('TR0001', 'TF0002'),
        ('TR0001', 'TF0005'),
        ('TR0002', 'TF0002'),
        ('TR0002', 'TF0004'),
        ('TR0003', 'TF0003'),
        ('TR0003', 'TF0004'),
        ('TR0003', 'TF0005'),
        ('TR0004', 'TF0003');
''')

conn.commit()